<div cdkDropListGroup class="content">
  <div>
    <div class="title">
      <app-tab-button class="back-btn" [btnText]="'На главную'" [routerLink]="['/']" />
    </div>
    <div class="table-filter">
      <app-input-search [placeholder]="'Поиск'" [formControl]="filter.controls.searchTerm" />
      <app-datapicker [formControl]="filter.controls.range.controls.from" />
      <app-datapicker [formControl]="filter.controls.range.controls.to" />
    </div>
    <div class="table-wrapper scrollable">
      <table class="table table--sticky" [ngClass]="{ 'table--loading': loading() }">
        <thead>
          <tr>
            @for (column of displayedColumns; track column) {
            <th app-test-table-title="" [column]="column" (orderChange)="orderChange($event)"></th>
            }
          </tr>
        </thead>
        <tbody cdkDropList [cdkDropListData]="items()" (cdkDropListDropped)="drop($event)">
          @for (item of items(); track item) {
          <tr
            cdkDrag
            [cdkDragData]="item"
            [class.agent-details]="item.agent_Details"
            app-test-table-item=""
            [item]="item"
            (click)="toggleExpand(item.fWB_Details.AWBID)">
            <app-test-table-card-preview *cdkDragPreview [item]="item" />
          </tr>

          <tr
            app-test-table-item-expanded=""
            [item]="item"
            [isExpanded]="isExpanded[item.fWB_Details.AWBID]"
            [class.table-item-expanded]="!isExpanded[item.fWB_Details.AWBID]"></tr>
          }
        </tbody>
      </table>
    </div>
    <mat-paginator
      (page)="handlePageEvent($event)"
      [length]="paginator().totalPages"
      [pageSize]="paginator().pageSize"
      [showFirstLastButtons]="true"
      [pageSizeOptions]="paginator().pageSizeOptions"
      [pageIndex]="paginator().currentPage"
      aria-label="Select page">
    </mat-paginator>
  </div>

  <div class="card-container" cdkDropList [cdkDropListData]="itemsCards()" (cdkDropListDropped)="drop($event)">
    <div class="card-wrapper">
      @for (itemCard of itemsCards(); track itemCard) {
      <div class="card-block">
        <app-collapseable-slide class="card" cdkDrag [titleText]="'AWBID: ' + itemCard.fWB_Details.AWBID">
          <app-test-table-card-item-detail [itemCard]="itemCard" />
          <app-test-table-card-preview *cdkDragPreview [item]="itemCard" />
        </app-collapseable-slide>
        <button class="remove-btn" (click)="removeCard(itemCard.fWB_Details.AWBID)"></button>
      </div>

      }
    </div>
  </div>
</div>
