:host {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 16px;
  padding: 20px 100px;
}
.content {
}
.title {
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}
.back-btn {
  display: flex;
  width: 168px;
}
.table {
  &-wrapper {
    height: 550px;
  }

  &-filter {
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
}
.agent-details {
  background-color: rgb(231, 255, 231);
}
