<div class="page-content">
  <div class="avatar"></div>
  <div class="title">Тестовое задание</div>
  <div class="summary">Angular</div>
  <div class="buttons-wrapper">
    <app-tab-button [btnText]="'Таблица'" [routerLink]="['fwb-table']" />
  </div>
  <div class="collapseable-slides-wrapper">
    <app-collapseable-slide [titleText]="'test'">test1 </app-collapseable-slide>
    <app-collapseable-slide [titleText]="'test'">test2 </app-collapseable-slide>
    <app-collapseable-slide [titleText]="'test'">test3 </app-collapseable-slide>
  </div>
</div>
