<div class="page-content">
  <div class="avatar"></div>
  <div class="title">Тестовое задание</div>
  <div class="summary">Angular <span class="summary__text">(блоки ниже раскрываются при нажатии)</span></div>
  <div class="buttons-wrapper">
    <app-tab-button class="route-btn" [btnText]="'Таблица'" [routerLink]="['fwb-table']" />
  </div>
  <div class="collapseable-slides-wrapper">
    <app-collapseable-slide [titleText]="'Drag&Drop'">
      <div class="slide-detail">
        <span>При переносе строки в правую часть экрана она дублируется</span>
        <span>Имеется функция удаления дублированной строки</span>
      </div>
    </app-collapseable-slide>
    <app-collapseable-slide [titleText]="'Интерактивность строки'">
      <div class="slide-detail">
        <span>Цвет фона строки зелёный, если у неё есть agency_detail</span>
        <span>При клике на строку таблицы она раскрывается и показывается дополнительная информация</span>
      </div>
    </app-collapseable-slide>
    <app-collapseable-slide [titleText]="'Сортировка'">
      <div class="slide-detail">
        <span>Сортировка сделана по:</span>
        <ul>
          <li>Инпуту поиска</li>
          <li>Период дат (start - end)</li>
          <li>По столбцам (при 3-м клике по иконке сбрасывается сортировка)</li>
        </ul>
      </div>
    </app-collapseable-slide>
  </div>
</div>
