:host {
  display: flex;
  justify-content: center;
  align-items: center;
  ul {
    padding: 0 0 0 20px;
  }
  ::ng-deep {
    app-collapseable-slide {
      .detail__title_text {
        color: #ffffff;
      }
    }
  }
}
.page-content {
  width: 100%;
  max-width: 380px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  background-color: #000000;
  border-radius: 16px;
  color: #ffffff;
}
.summary{
  display: flex;
  flex-direction: column;
  gap: 4px;
  text-align: center;
  &__text{
    color: #808080;
  }
}
.buttons {
  &-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.route-btn {
  flex-basis: 50%;
}

.avatar {
  display: inline-block;
  background-position: center;
  background-size: 220%;
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  background-image: url(../../../assets/images/avatar.jpg);
  border-radius: 100px;
}

.collapseable-slides-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.slide-detail {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 12px;
}
