:host {
  input {
    padding: 8px 12px;
    background-color: #f6f6f6;
    border: 1px solid #e0e0e0;
    border-radius: 5px;

    font-family: Roboto, 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-size: 14px;
    color: #000000;
  }
}
